<button (click)="allStudent($event)" type="button">All</button>
<button (click)="successfulStudent($event)" type="button">Successful</button>
<mat-card class="mat-whiteframe-2dp" *ngFor="let student of students">
  <mat-card-title>
    <span>{{ student["First Name"] }} {{ student["Last Name"] }}</span>
  </mat-card-title>
  <mat-card-content>
    <div class="name">
      {{ student.First_Name + ' ' + student.Last_Name }}
    </div>
    <div class="contact-info">
      email&nbsp;:&nbsp; {{ student.Email }}
    </div>
    <div class="contact-info">
      Email Supinfo&nbsp;:&nbsp;{{ student.Mail_Supinfo}}
    </div>
  </mat-card-content>
</mat-card>
